In [1]:
students = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 95]

score_dict = dict(zip(students, scores))
print(score_dict)

{'Alice': 85, 'Bob': 90, 'Charlie': 95}

In [2]:
dict(zip(students, scores))

{'Alice': 85, 'Bob': 90, 'Charlie': 95}

Given a list of numbers [1, 2, 3, 4, 5], use the map() function to square each number in the list.

In [3]:
num_list = [1,2,3,4,5]
list(map(lambda x: x**2, num_list))

[1, 4, 9, 16, 25]

Use the filter() function to get all even numbers from the list [1, 2, 3, 4, 5].

In [4]:
list(filter(lambda x: x % 2 == 0, num_list))

[2, 4]

Given the list of numbers [1, 2, 3, 4, 5], use the reduce() function to find the product of all numbers in the list.

In [5]:
from functools import reduce
reduce_list = reduce(lambda x, y: x * y, num_list)
reduce_list

120

Given two lists ['Alice', 'Bob', 'Charlie'] and [25, 30, 35], use the zip() function to create a list of tuples where each tuple contains a name and an age.

In [6]:
list(zip(students, scores))

[('Alice', 85), ('Bob', 90), ('Charlie', 95)]


Given the list ['Alice', 'Bob', 'Charlie'], use the enumerate() function to create a list of tuples where each tuple contains an index and a name from the list.

In [9]:
list(enumerate(students))

[(0, 'Alice'), (1, 'Bob'), (2, 'Charlie')]

In [ ]:
num_list = [1,2,3,4,5]
list(map(lambda x: x**2, num_list))

[1, 4, 9, 16, 25]

In [ ]:
list(filter(lambda x: x % 2 == 0, num_list))

[2, 4]

In [ ]:
from functools import reduce
reduce_list = reduce(lambda x, y: x * y, num_list)
reduce_list

120

In [ ]:
list(zip(students, scores))

[('Alice', 85), ('Bob', 90), ('Charlie', 95)]

In [ ]:
list(zip(students, scores))

[('Alice', 85), ('Bob', 90), ('Charlie', 95)]